# Compiled class files
*.class

# JAR/WAR files
*.jar
*.war

# Eclipse
.metadata/
.classpath
.project
.settings/
bin/
build/

# OS
.DS_Store
Thumbs.db
*.swp

# Logs
*.log

# Temp
proyecto_temp_local_gestor/
shareKeys.sh
